
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: url(images/background.png);
    background-position: center;
    background-attachment: fixed;
}



.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 45%;

    /* Position and center the image to scale nicely on all screens */
    background-position: -75% -75%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

.hero-text button:hover {
    background-color: #555;
    color: white;
  }

h1 {
    font-family: 'Covered By Your Grace', cursive;
    color: #d77071;
    text-align: center
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    color: #d77071;
}

li {
    list-style: none;
}

img {
    display: inline-block;
}

#overflow {
    overflow: hidden;
    margin: auto;
    width: 50%;
}

.early {
    margin: auto;
    width: 800px;
    border: 25px solid #5CC3C2;
    padding: 10px;
    color: white;
}

.center {
    width: 800px;
    border: 25px solid #5CC3C2;
    padding: 25px;
    margin: 25px;
    float: left;
    color: white;
}

.school {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 800px;
    border: 25px solid #5CC3C2;
    padding: 10px;
    color: white;

}

#clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
  }
  
.active, .demo:hover {
    opacity: 1;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #d77071;
    text-align: center;
  }